<style>
  .masonry-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
  }

  .masonry-item {
    break-inside: avoid;
  }
</style>

<div class="masonry-container m-3 mt-5">
  {% for project in site.projects %}
    <div class="masonry-item">
      {%- assign project_type  = "local" -%}
      {%- assign project_id    = project.name | slugify -%}
      {%- assign project_img   = project.image -%}
      {%- assign project_name  = project.name -%}
      {%- assign project_desc  = project.description -%}
      {%- assign project_tools = project.tools -%}

      {%- if project.external_url -%}
        {%- assign project_url = project.external_url -%}
        {%- assign external    = true -%}
      {%- else -%}
        {%- assign project_url = project.url | relative_url -%}
        {%- assign external    = false -%}
      {%- endif -%}

      {% include projects/project-card.html %}
    </div>
  {% endfor %}
</div>