<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 m-3 mt-5" data-masonry='{"percentPosition": true }'>

  {% for project in site.projects %}

    <div class="col">
      {%- assign project_type  = "local" -%}
      {%- assign project_id    = project.name | slugify -%}
      {%- assign project_img   = project.image -%}
      {%- assign project_name  = project.name -%}
      {%- assign project_desc  = project.description -%}
      {%- assign project_tools = project.tools -%}

      {%- if project.external_url -%}
        {%- assign project_url = project.external_url -%}
        {%- assign external    = true -%}
      {%- else -%}
        {%- assign project_url = project.url | relative_url -%}
        {%- assign external    = false -%}
      {%- endif -%}

      {% include projects/project-card.html %}
    </div>

  {% endfor %}

</div>